.footer{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.904);
    text-align: center;
    color: white;
    padding: 05px;
    bottom: 0;
}
form{
    width: 50%;
    margin: auto;
}